body{
  width: 100vw;
  height: 100vh;
  background-color: #342f30;
  color: #ffffff;
  font-family: sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

textarea{
  width: 700px;
  height: 700px;
  font-size: 1em;
  font-family: sans-serif;
  border: 10px solid #524c4d;
  border-radius: 2%;
  padding: 5px;
}

p{
  display: inline-flex;
  margin: 10px;
}
span{
margin-left: 5px;
}

.overLimit{
  color: red;
}
